


RewriteEngine on
# Use PHP70 as default
AddHandler application/x-httpd-php70 .php
# BEGIN custom php.ini PHP70
<IfModule mod_suphp.c>
    suPHP_ConfigPath /home/aksvi562/paginas/sismaxi.com.br/
</IfModule>
# END custom php.ini
